* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

nav {
    height: 70px;
    display: flex;
    background-color: beige;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
    max-width: 100px;
}

section {
    padding: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero--pic {
    max-width: 400px;
    align-self: center;
}

.hero--h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
    color: #000000;
    margin-bottom: 16px;
}

.hero--p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 110%;
    color: #222222;
    margin-top: 0;
}